%section
  %h2
    Photo Journal from my First Flight
    %h3
      Photographs by Luis Roca

  %figure
    %img(src="./styles/images/blue_plane.jpg" alt="Pretty Blue Plane")
    %figcaption
      Our pretty little single engine six seater for the afternoon.

  %figure
    %img(src="./styles/images/grass_runway.jpg" alt="Grass Runway")
    %figcaption

  %figure
    %img(src="./styles/images/everglades.jpg" alt="Flying Over the Everglades")
    %figcaption

  %figure
    %img(src="./styles/images/nervous_passengers.jpg" alt="Nervous Passengers")
    %figcaption
      My niece and wife showing the upmost confidence in me.

  %figure
    %img(src="./styles/images/copilot.jpg" alt="Copilot")
    %figcaption
      Runner's high without actually running.

