%figure
  %table
    %thead
      %tr
        %th
          Photo Journal from my First Flight
    %tfoot
      %tr
        Photographs by Luis Roca
    %tbody
      %tr
        %td
          %img(src="../styles/images/blue_plane.jpg" alt="Pretty Blue Plane")
      %tr
        %td
          %img
        %td
          %img
      %tr
        %td
          %img(src="../styles/images/nervous_passengers.jpg" alt="Nervous Passengers")
        %td
          %img
    %figcaption
      Donec pretium posuere tellus. Cras placerat accumsan nulla.
